.breadCrumbs {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
}

.crumb {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
    height: 29px;

    transition-duration: 0.3s;

    font-weight: 600;
}

 :global .active {
     background: white;
     padding: 5px 10px;
     border-radius: 2px;
     color: #8e38a6;

 }
